# Root .easignore
.git/
**/.git/
node_modules/
**/node_modules/
mobile_app/android/
mobile_app/ios/
android/
ios/
admin_web/
admin_option_workspace/
data/
docs/
tools/
screenshots/
scratch/
imagesint/
dist/
*.log
*.tar.gz
*.sql
*.apk
*.ipa
